html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
}


#resultados{
    position: relative;
    top: 10px;
    left: 10%;
    width: 80%;
    height: 60%;
    background-color: lightblue;
    padding: 0px 5px 15px 5px;
}

#resultados h2{
    height: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#contenido{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.espere{
    background-image: url("../../espere.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.resultado{
    position: relative;
    width: 80%;
    left: 10%;
    background-color: white;
    padding: 0px 15px 0px 15px;
}

.resultado .encabezado{
    position: relative;
    width: 90%;
    left: 5%;
    border-bottom: solid black 1px;
}

.resultado .encabezado h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.resultado .datos {
    position:relative;
    width: 90%;
    left: 5%;
    padding-bottom: 5px;
    overflow-y: scroll;
}

.resultado .datos .tb_datos{
    width: 100%;
    text-align: center;
    border: 0px;
    border-collapse: collapse;
}


.resultado .datos .tb_datos tr:nth-child(even){
    background-color: lightpink;
}

.resultado .datos .tb_datos tr:nth-child(odd){
    background-color: lightblue;
}

.resultado .datos .tb_datos td:first-child{
    font-weight: bold;
    width: 50%;
}
